
.fast{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#themecolors .selector, .cursor {
    cursor: pointer;
}

#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
}

.img-avatar {
    width: 200px;
    height: 200px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar {
    border-radius: 100%;
    width: 55px;
}

.oculto {
    display: none;
}

.fondo-modal-imagen {
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}
